<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="../meta.html">{{ name }}</a></li>
  <li><a href="../keys.html">streams</a></li>
  <li class="active">{{ id }} data</li>
</ol>

<div class="row">

    <div class="col-md-8">
        <div class="jumbotron">
          <h1 style="display: inline;">{{ this.name }}</h1>{{{tmpl.poweredBy}}}
          <h3>{{ id }} <small><em>(<strong>{{type}}</strong> data stream)</em></small></h3>
          <div class="btn-group btn-group-justified" role="group">
              <a class="btn btn-primary btn-lg download" href="data.json" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> JSON API</a>
              <a class="btn btn-primary btn-lg download" href="data.csv" role="button"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download CSV</a>
              <a class="btn btn-primary btn-lg" href="meta.html" role="button"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Metadata</a>
          </div>

        </div>
    </div>

    <div class="col-md-4">

        <table class="table table-bordered">
            <tbody>
                <thead>
                    <tr><th colspan="2" class="mono text-center">Stream Statistics</th></tr>
                </thead>
                <tr>
                    <th>First data</th>
                    <td class="mono text-right">{{tmpl.firstData}}</td>
                </tr>
                <tr>
                    <th>Last data</th>
                    <td class="mono text-right">{{tmpl.lastData}}</td>
                </tr>
                <tr>
                    <th>Timezone</th>
                    <td class="mono text-right">{{timezone}}</td>
                </tr>
                <tr>
                    <th>Row count</th>
                    <td class="mono text-right">{{tmpl.dataCount}}</td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-info" role="alert">
            Updated {{tmpl.lastDataLabel}}.
        </div>

    </div>

</div>

<div class="alert alert-warning" role="alert">
    This page only contains the latest <span id="data-limit"></span> data points. Specify a <code>limit=X</code> URL parameter to change.
</div>
