body {
    margin: 20px 40px;
    font-size: 18px;
}

table td, table th {
    padding: 0 10px;
}

footer {
    margin-top: 20px;
}

table.data {
    margin: 20px;
}

table.rivers td {
    font-size: 24px;
    font-weight: bold;
    padding: 0 50px;
}
