{{> header }}

<a href="https://github.com/rhyolight/river-view"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<h1>River View</h1>

<p>River View is a <em>Public Streaming Data Service Framework</em>. It allows anyone to expose static temporal public data in a way that is cached and query-able.</p>

<h2>Rivers</h2>

<p>This <em>River View</em> instances contains the data streams (or <em>Rivers</em>) shown below. Any HTML page you view on this website can also be viewed in JSON by changing the file extension in the URL to <code>.json</code>.</p>

<blockquote>
    <a href="index.json">JSON</a>
</blockquote>

<ul>
{{#each rivers}}
    <li>
        <a href="{{name}}/props.html">
            {{name}}
        </a>
    </li>
{{/each}}
</ul>

{{> footer }}
