{{> header }}

<ol class="breadcrumb">
    <li><a href="{{ baseurl }}">Home</a></li>
    <li class="active">Activity Log</li>
</ol>

<h1>Activity Log</h1>

<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>River</th>
            <th>Message</th>
        </tr>
    </thead>
<tbody>
{{#each logs}}
    <tr class="alert alert-{{level}}">
        <td>
        {{date}}
        </td>
        <td>
            <a href="{{ baseurl }}/{{river}}/keys.html">
            {{river}}
            </a>
        </td>
        <td>
        {{message}}
        </td>
    </tr>
{{/each}}
</tbody>
</table>

{{> footer }}
