{{> header }}

{{> data-header }}

<div class="alert alert-info" role="alert">
    <a href="{{ baseurl }}/{{name}}/{{id}}/data.html?aggregate=1%20day&since={{threeMonthsAgo}}">See last 3 months of data aggregated every 1 day</a>
</div>

<div class="container">
    <div id="map-canvas"></div>
</div>

<div id="chart-container" class="container">
    <div id="chart"></div>
</div>


{{> data-table }}

<script type="text/javascript">

    function showAggregateChart(urlVars) {
        var csvPath = '{{ baseurl }}/{{name}}/{{id}}/data.csv?aggregate=' + urlVars.aggregate + '&since=' + urlVars.since;
        var chartWidth = $('#chart-container').width();
        var graphConfig = {
            title: 'Aggregate view',
            width: chartWidth
        };
        var $chart = $('#chart');
        new Dygraph($chart[0], csvPath, graphConfig);
    }

    function initialize() {
        var markerTemplate;
        var mapDiv = document.getElementById('map-canvas');
        var map = new google.maps.Map(mapDiv, {
            zoom: 11
        });
        var urlVars = RV.utils.getUrlVars();
        var dataLimit = urlVars.limit || 100;
        var dataUrl;

        $('#data-limit').html(dataLimit);
        $('a.download').each(function(i, a) {
            var $a = $(a);
            $a.attr('href', $a.attr('href') + '?limit=' + dataLimit);
        });

        $.get('{{ baseurl }}/static/templates/partials/markerLabel/index.html', function(response) {
            markerTemplate = response;
        });

        dataUrl = '{{ baseurl }}/{{name}}/{{id}}/data.json?limit=' + dataLimit;

        function handleTemporalData(payload) {
            _.each(payload.data, function(eventData) {
                var event = _.zipObject(payload.headers, eventData),
                        latitude = event.latitude,
                        longitude = event.longitude,
                        latlng,
                        marker,
                        markerData = {},
                        contentString,
                        infoWindow;

                if (latitude && longitude) {
                    latlng = new google.maps.LatLng(
                            Number(latitude),
                            Number(longitude)
                    );

                    marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title: event.contributing_factor_vehicle_1
                    });

                    markerData.name = 'id: ' + event.id;
                    markerData.time = event.datetime;

                    contentString = Handlebars.compile(markerTemplate)(markerData);

                    infoWindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });

                    map.setCenter(latlng);
                }
            });
        }

        if (urlVars.aggregate) {
            $(mapDiv).hide();
            showAggregateChart(urlVars);
        } else {
            $.getJSON(dataUrl, handleTemporalData);
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>

{{> footer }}
