{{> geotemporal-data-header }}

<h1>
    <a href="{{ baseurl }}/{{name}}/meta.html">
    {{name}}
    </a>
</h1>

<h2>{{id}} Data</h2>

<h3>Data type: {{type}}</h3>

<p>Other data types:</p>
<ul>
    <li><a href="data.json">JSON</a></li>
    <li><a href="data.csv">CSV</a></li>
</ul>

<p>Available URL query params:</p>
<ul>
    <li><code>limit=X</code></li>
    <li><code>since=timestamp</code></li>
    <li><code>until=timestamp</code></li>
</ul>

<a href="meta.html">See properties</a>

<div id="map-canvas"></div>

<p>Map above shows latest 100 data points.</p>

<table class="data">
    <thead>
        <tr>
            {{#each headers}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

<script type="text/javascript">
        function initialize() {
            var markerTemplate
              , mapDiv = document.getElementById('map-canvas')
              , map = new google.maps.Map(mapDiv, {
                    zoom: 11,
                })
              ;

            $.get('{{ baseurl }}/static/templates/partials/markerLabel/index.html', function(response) {
                markerTemplate = response;
            });

            $.getJSON('{{ baseurl }}/{{name}}/{{id}}/data.json?limit=100', function(payload) {
                _.each(payload.data, function(eventData) {
                    var event = _.zipObject(payload.headers, eventData)
                      , latitude = event.latitude
                      , longitude = event.longitude
                      , latlng
                      , marker
                      , contentString
                      , infoWindow;

                    if (latitude && longitude) {
                        latlng = new google.maps.LatLng(
                            Number(latitude)
                          , Number(longitude)
                        );

                        marker = new google.maps.Marker({
                            position: latlng
                          , map: map
                          , animation: google.maps.Animation.DROP
                          , title: event.contributing_factor_vehicle_1
                        });

                        contentString = Handlebars.compile(markerTemplate)(event);

                        infoWindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infoWindow.open(map, marker);
                        });

                        map.setCenter(latlng);
                    }
                });
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

{{> footer }}
