{{> geotemporal-data-header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="../meta.html">{{ name }}</a></li>
  <li><a href="../keys.html">streams</a></li>
  <li class="active">{{ id }} data</li>
</ol>

<div class="row">

    <div class="col-md-9">
        <div class="jumbotron">
          <h1>{{ name }}</h1>
          <p>{{ id }} <em>(<strong>{{type}}</strong> data stream)</em></p>
          <div class="btn-group" role="group">
              <a class="btn btn-primary btn-lg download" href="data.json" role="button"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download JSON</a>
              <a class="btn btn-primary btn-lg download" href="data.csv" role="button"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download CSV</a>
              <a class="btn btn-primary btn-lg" href="meta.html" role="button"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Metadata</a>
          </div>
        </div>
    </div>

    <div class="col-md-3">
        <p>The following URL query parameters are available for all data formats:</p>
        <ul>
            <li><code>limit=N</code></li>
            <li><code>since=timestamp</code></li>
            <li><code>until=timestamp</code></li>
        </ul>
    </div>

</div>

<div class="alert alert-warning" role="alert">
    This page only contain the latest <span id="data-limit"></span> data points. Specify a <code>limit=X</code> URL parameter to change.
</div>

<div class="container">
    <div id="map-canvas"></div>
</div>

<table class="table table-sriped table-condensed table-bordered">
    <thead>
        <tr>
            {{#each headers}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

<script type="text/javascript">
        function initialize() {
            var markerTemplate
              , mapDiv = document.getElementById('map-canvas')
              , map = new google.maps.Map(mapDiv, {
                    zoom: 11,
                })
              , dataLimit = RV.utils.getUrlVars().limit || 500
              ;

            $('#data-limit').html(dataLimit);
            $('a.download').each(function(i, a) {
                var $a = $(a);
                $a.attr('href', $a.attr('href') + '?limit=' + dataLimit);
            });

            $.get('{{ baseurl }}/static/templates/partials/markerLabel/index.html', function(response) {
                markerTemplate = response;
            });

            $.getJSON('{{ baseurl }}/{{name}}/{{id}}/data.json?limit=' + dataLimit, function(payload) {
                _.each(payload.data, function(eventData) {
                    var event = _.zipObject(payload.headers, eventData)
                      , latitude = event.latitude
                      , longitude = event.longitude
                      , latlng
                      , marker
                      , markerData = {}
                      , contentString
                      , infoWindow;

                    if (latitude && longitude) {
                        latlng = new google.maps.LatLng(
                            Number(latitude)
                          , Number(longitude)
                        );

                        marker = new google.maps.Marker({
                            position: latlng
                          , map: map
                          , animation: google.maps.Animation.DROP
                          , title: event.contributing_factor_vehicle_1
                        });

                        markerData.name = 'id: ' + event.id;
                        markerData.time = event.datetime;

                        contentString = Handlebars.compile(markerTemplate)(markerData);

                        infoWindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infoWindow.open(map, marker);
                        });

                        map.setCenter(latlng);
                    }
                });
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

{{> footer }}
