{{> header }}

<a href="https://github.com/nupic-community/river-view"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>


<div class="page-header">
  <h1>River View <span class="beta">BETA<sup><a href="#beta">*</a></sup></span><small><em>Public Temporal Streaming Data Service Framework</em></small></h1>
</div>

<div class="starburst" style="position:absolute; top:100px; right:8%">
    <p>Now with {{ totalStreams }} data streams!</p>
</div>

<div align="center">
<img src="{{ baseurl }}/static/images/river-view.jpg" class="img-responsive" />
</div>

<hr />
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Rivers</h1>
          </div>
          <div class="panel-body">
            {{#each rivers}}
            <div class="rivers row">
                <div class="col-md-6 river-name">
                    {{ name }}
                    {{#if new}}
                    <img src="{{ baseurl }}/static/images/new-icon.png" />
                    {{/if}}
                </div>
                <div class="col-md-3">
                    <a href="{{name}}/meta.html">
                        <button type="button" class="btn btn-default btn-md">
                          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View HTML
                        </button>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{{name}}/meta.json">
                        <button type="button" class="btn btn-default btn-md">
                          <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download JSON
                        </button>
                    </a>
                </div>

            </div>
            {{/each}}

          </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">What Is This?</h2>
          </div>
          <div class="panel-body">
            <p><strong><em>River View</em></strong> is a <em>Public Temporal Streaming Data Service Framework</em> (yes, that's a mouthful!). It provides a pluggable interface for users to expose temporal data streams in a time-boxed format that is easily query-able. (<a href="{{ baseurl }}/chicago-beach-water-quality/Ohio%20Street%20Beach/data.html?limit=500">Here's an example of oceanographic data collected at Chicago beaches</a>.) It was built to provide a longer-lasting historical window for public data sources that provide only real-time data snapshots, especially for sensor data from public government services like weather, traffic, and geological data.</p>

            <p><em>River View</em> fetches data from user-defined <a href="#rivers">rivers</a> at regular intervals, populating a local <a href="http://redis.io">Redis</a> database. This data is provided in a windowed format, so that data older than a certain configured age is lost. But the window should be large enough to provide enough historical data to potentially train machine intelligence models on the data patterns within it.</p>

            <p>The type of streaming temporal data contained within <em>River View</em> is ready for processing with Hierarchical Temporal Memory (HTM) systems like <a href="http://numenta.org">NuPIC</a>. And you can create your own <em>rivers</em> by <a href="https://github.com/nupic-community/river-view/wiki/Creating-a-River">following these instructions</a>.</p>

          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
                <a id="beta">
                    What do you mean, BETA?
                </a>
            </h2>
          </div>
          <div class="panel-body">
              <p>
                  River View has a standard data format that is still being tested. While we populate it with data, there might be changes to the JSON structure of the data. If you end up writing code that depends on River View data today, there is no guarantee that it won't change in the future.
              </p>
              <p>
                  That being said, if you like River View and you'd like to get more involved in its direction and development, come chat with us on <a href="https://gitter.im/nupic-community/river-view">Gitter</a>.
              </p>
          </div>
        </div>
    </div>
</div>

{{> footer }}
