{{> header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="meta.html">{{ name }}</a></li>
  <li class="active">streams</li>
</ol>

<div class="page-header">
  <h1 style="display: inline;">{{name}} <small><em>streams</em></small></h1>{{{tmpl.poweredBy}}}
</div>

<div class="btn-group" role="group">
    <a class="btn btn-primary btn-lg" href="keys.json?includeDetails=1" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> JSON API</a>
</div>

<hr />

<table class="table table-striped table-rivers">
<tbody>
{{#each keys}}
    <tr>
        <td class="river-name" style="width:50%"><h3>{{this}}</h3></td>
        <td style="width:50%">


            <div class="btn-group btn-group-justified" role="group">

                <a class="btn btn-primary btn-lg" href="{{../baseurl}}/{{../name}}/{{this}}/data.html?limit={{../dataLimit}}" role="button"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Data</a>

                <a class="btn btn-primary btn-lg" href="{{../baseurl}}/{{../name}}/{{this}}/meta.html" role="button"><span class="glyphicon glyphicon glyphicon-equalizer" aria-hidden="true"></span> Metadata</a>

            </div>

        </td>
    </tr>
{{/each}}
</tbody>
</table>

{{> footer }}
