{{> header }}

<h1>
    <a href="{{ baseurl }}/{{name}}/props.html">
    {{name}}
</a> Keys
</h1>

<blockquote>
    <a href="keys.json">JSON</a>
</blockquote>

<table>
<tbody>
{{#each keys}}
    <tr>
        <td>{{this}}</td>
        <td>
        <a href="{{../baseurl}}/{{../name}}/{{this}}/data.html">
            data
        </a>
        </td>
        <td>
        <a href="{{../baseurl}}/{{../name}}/{{this}}/props.html">
            properties
        </a>
        </td>
    </tr>
{{/each}}
</tbody>
</table>

{{> footer }}
