{{> header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="../meta.html">{{ name }}</a></li>
  <li><a href="../keys.html">streams</a></li>
  <li class="active">{{ id }} metadata</li>
</ol>

<div class="page-header">
  <h1>{{id}} <small><em>metadata</em></small></h1>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-primary btn-lg" href="meta.json" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> JSON API</a>
    <a class="btn btn-primary btn-lg" href="data.html" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Data</a>
</div>

<hr />

{{#if metadata.latitude}}
    <div class="container">
        <div id="map-canvas"></div>
    </div>
{{/if}}

<table class="table table-striped">
<tbody>
{{#each metadata}}
    <tr>
        <th>{{@key}}</th>
        <td>{{this}}</td>
    </tr>
{{/each}}
</tbody>
</table>

{{> footer }}
