{{> header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="../meta.html">{{ name }}</a></li>
  <li><a href="../keys.html">streams</a></li>
  <li class="active">{{ id }} metadata</li>
</ol>

<h1>
    <a href="{{ baseurl }}/{{name}}/meta.html">
    {{name}}
    </a>
</h1>

<h2>{{id}} Properties</h2>

<blockquote>
    <a href="meta.json">JSON</a>
</blockquote>

<a href="data.html?limit=500">See data</a>

<table class="data">
<tbody>
{{#each metadata}}
    <tr>
        <th>{{@key}}</th>
        <td>{{this}}</td>
    </tr>
{{/each}}
</tbody>
</table>

{{> footer }}
