{{> header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="../meta.html">{{ name }}</a></li>
  <li><a href="../keys.html">streams</a></li>
  <li class="active">{{ id }} metadata</li>
</ol>

<div class="page-header">
    <div class="poweredBy pull-right">
        {{{tmpl.poweredBy}}}
    </div>
  <h1>{{id}} <small><em>metadata</em></small></h1>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-primary btn-lg" href="meta.json" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> JSON API</a>
    <a class="btn btn-primary btn-lg" href="data.html?limit={{dataLimit}}" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Data</a>
</div>

<hr />

{{#if metadata.latitude}}
    <div class="container">
        <div id="map-canvas"></div>
    </div>
{{/if}}

<table class="table table-striped">
<tbody>
{{#each metadata}}
    <tr>
        <th>{{@key}}</th>
        <td>{{this}}</td>
    </tr>
{{/each}}
</tbody>
</table>

{{#if metadata.latitude}}
    <script type="application/javascript">

        function initialize() {
            var markerTemplate,
                mapDiv = document.getElementById('map-canvas'),
                map = new google.maps.Map(mapDiv, {
                    zoom: 11
                });

            $.get('{{ baseurl }}/static/templates/partials/markerLabel/index.html', function(response) {
                markerTemplate = response;

                var latitude = {{metadata.latitude}},
                    longitude = {{metadata.longitude}},
                    latlng, marker, markerData = {};

                latlng = new google.maps.LatLng(
                    Number(latitude),
                    Number(longitude)
                );

                marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: '{{metadata.id}}'
                });

                map.setCenter(latlng);

            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{{/if}}

{{> footer }}
