{{> header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li class="active">{{ this.name }}</li>
</ol>

<div class="jumbotron">
  <h1>{{ this.name }}</h1>
  <p>{{ this.description }}</p>

  <div class="btn-group" role="group">
      <a class="btn btn-primary btn-lg" href="{{../baseurl}}/{{this.name}}/keys.html" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Streams</a>
      <a class="btn btn-primary btn-lg" href="{{../baseurl}}/{{this.name}}/meta.json" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> JSON API</a>
  </div>

</div>

<div class="row">
    <div class="col-md-8">

        <div class="row">

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://www.gravatar.com/avatar/{{emailHash}}" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-8">
                                <h4>Author: <a href="mailto:{{email}}">{{author}}</a></h4>
                                <h4><a href="https://github.com/nupic-community/river-view/tree/master/rivers/{{this.name}}" target="_blank">Source Code ⤤</a></h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <dl>
                            <dt>Collection Interval</dt>
                            <dd>{{interval}}</dd>
                        </dl>
                        <dl>
                            <dt>Data Expires After</dt>
                            <dd>{{expires}}</dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h4>Data Source(s)</h4>
                        <ul>
                            {{#each sources}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <h5>Fields</h5>
                <ul>
                    {{#each fields}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>

                {{# if metadata }}
                    <h5>Metadata</h5>
                    <ul>
                        {{#each metadata}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>

</div>





{{> footer }}
