{{> header }}

<h1>
    {{this.name}}
</h1>

<blockquote class="description">{{this.description}}</blockquote>

<h3>
    <a href="{{../baseurl}}/{{this.name}}/keys.html">Data Keys</a>
</h3>


<h4>Author: <a href="mailto:{{email}}">{{author}}</a></h4>

<dl>
    <dt>Collection Interval</dt>
    <dd>{{interval}}</dd>
</dl>
<dl>
    <dt>Data Expires After</dt>
    <dd>{{expires}}</dd>
</dl>

<h4>Data Source(s)</h4>
<ul>
    {{#each sources}}
    <li><a href="{{this}}" target="_blank">{{this}}</a></li>
    {{/each}}
</ul>

<h4>Data Attributes</h4>
<h5>Fields</h5>
<ul>
    {{#each fields}}
    <li>{{this}}</li>
    {{/each}}
</ul>

{{# if metadata }}

<h5>Metadata</h5>
<ul>
    {{#each metadata}}
    <li>{{this}}</li>
    {{/each}}
</ul>

{{/if}}


{{> footer }}
