{{> header }}

<ol class="breadcrumb">
  <li><a href="{{ baseurl }}">Home</a></li>
  <li><a href="../meta.html">{{ name }}</a></li>
  <li><a href="../keys.html">streams</a></li>
  <li class="active">{{ id }} data</li>
</ol>

<div class="row">

    <div class="col-md-9">
        <div class="jumbotron">
          <h1>{{ name }}</h1>
          <p>{{ id }} <em>(<strong>{{type}}</strong> data stream)</em></p>
          <div class="btn-group" role="group">
              <a class="btn btn-primary btn-lg" href="data.json" role="button"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download JSON</a>
              <a class="btn btn-primary btn-lg" href="data.csv" role="button"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download CSV</a>
              <a class="btn btn-primary btn-lg" href="meta.html" role="button"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Metadata</a>
          </div>
        </div>
    </div>

    <div class="col-md-3">
        <p>The following URL query parameters are available for all data formats:</p>
        <ul>
            <li><code>limit=N</code></li>
            <li><code>since=timestamp</code></li>
            <li><code>until=timestamp</code></li>
        </ul>
    </div>

</div>

<div class="alert alert-info" role="alert">
    The chart(s) below only contain the latest <span></span> data points.
</div>

<div id="chart-container" class="container">
    <div id="chart"></div>
</div>

<table class="table table-sriped table-condensed table-bordered">
    <thead>
        <tr>
            {{#each headers}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

<script type="text/javascript">
    $(function() {

        var chartWidth = $('#chart-container').width()
          , $chart = $('#chart')
          , dataLimit = RV.utils.getUrlVars().limit || 500
          , csvPath = '{{baseurl}}/{{name}}/{{id}}/data.csv?limit=' + dataLimit
          , lastField = '{{headers}}'.split(',').pop()
          , graphConfig = {}
          ;

        function highlightWeekends(canvas, area, g) {
            var yellow = "rgba(255, 255, 102, 1.0)";

            function highlight_period(x_start, x_end) {
                var canvas_left_x = g.toDomXCoord(x_start);
                var canvas_right_x = g.toDomXCoord(x_end);
                var canvas_width = canvas_right_x - canvas_left_x;
                canvas.fillRect(canvas_left_x, area.y, canvas_width, area.h);
            }

            var min_data_x = g.getValue(0,0);
            var max_data_x = g.getValue(g.numRows()-1,0);

            // get day of week
            var d = new Date(min_data_x);
            var dow = d.getUTCDay();

            var w = min_data_x;
            // starting on Sunday is a special case
            if (dow === 0) {
                highlight_period(w,w+12*3600*1000);
            }
            // find first saturday
            while (dow != 6) {
                w += 24*3600*1000;
                d = new Date(w);
                dow = d.getUTCDay();
            }
            // shift back 1/2 day to center highlight around the point for the day
            w -= 12*3600*1000;

            canvas.fillStyle = yellow;
            while (w < max_data_x) {
                var start_x_highlight = w;
                var end_x_highlight = w + 2*24*3600*1000;
                // make sure we don't try to plot outside the graph
                if (start_x_highlight < min_data_x) {
                    start_x_highlight = min_data_x;
                }
                if (end_x_highlight > max_data_x) {
                    end_x_highlight = max_data_x;
                }
                highlight_period(start_x_highlight,end_x_highlight);
                // calculate start of highlight for next Saturday
                w += 7*24*3600*1000;
            }
        }

        graphConfig = {
            title: name
          , width: chartWidth
          , underlayCallback: highlightWeekends
        };

        if ({{splitCharts}}) {
            graphConfig.height = 100;
            _.each('{{headers}}'.split(','), function(header, i) {
                var myCsvPath;
                // Ignore the 'datetime' header
                if (header == 'datetime') {
                    return;
                }
                myCsvPath = csvPath + '&field=' + header;
                $chart.append('<div id="subchart-' + i + '"></div>');
                new Dygraph(document.getElementById('subchart-' + i), myCsvPath, graphConfig);
            });
        } else {
            // This will plot the last field on the ride Y axis.
            graphConfig[lastField] = { axis: {} };

            new Dygraph($chart[0], csvPath, graphConfig);
        }

    });
</script>

{{> footer }}
